<h1>Editing Collection</h1>
<p>
something
</p>
<%= render 'form', collection: @collection %>

<table>
    <tr>
        <td>Collectible</td>
        <td>Collectible thumbnail</td>
        <td>Completed</td>
        <% @collectibles.first.collectible_attribute.each do |collectible_attribute| %>
            <td><%= collectible_attribute.collectible_attribute_value_type.name %></td>
        <% end %>
    </tr>
</table>
<%= link_to 'Show', @collection %> |
<%= link_to 'Back', collections_path %>
