<p>
    <% collectible_attribute_list.collectible_attributes.each do |collectible_attribute| %>
        <%= render partial: "collectible_attributes/show", locals: { collectible_attribute: collectible_attribute } %>
    <% end %>
</p>