<div class="time-of-day">

  <div class="active-hours">
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '12a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '1a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '2a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '3a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '4a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '5a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '6a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '7a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '8a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '9a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '10a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '11a') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '12p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '1p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '2p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '3p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '4p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '5p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '6p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '7p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '8p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '9p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '10p') %>highlight<% end %>"></div></div>
    <div class="hour-block"><div class="<% if time_of_day.hours.find_by(name: '11p') %>highlight<% end %>"></div></div>
  </div>
  
</div>