<div class="time-of-day">

  <div class="active-hours">
    <div class="hour-block" id="twelve-am"><div class="highlight"></div></div>
    <div class="hour-block" id="one-am">   <div class="highlight"></div></div>
    <div class="hour-block" id="two-am">   <div class="highlight"></div></div>
    <div class="hour-block" id="three-am"> <div class="highlight"></div></div>
    <div class="hour-block" id="four-am">  <div class="highlight"></div></div>
    <div class="hour-block" id="five-am">  <div class="highlight"></div></div>
    <div class="hour-block" id="six-am">   <div class="highlight"></div></div>
    <div class="hour-block" id="seven-am"> <div class="highlight"></div></div>
    <div class="hour-block" id="eight-am"> <div class="highlight"></div></div>
    <div class="hour-block" id="nine-am">  <div class="highlight"></div></div>
    <div class="hour-block" id="ten-am">   <div class=""></div></div>
    <div class="hour-block" id="eleven-am"><div class=""></div></div>
    <div class="hour-block" id="twelve-pm"><div class=""></div></div>
    <div class="hour-block" id="one-pm">   <div class=""></div></div>
    <div class="hour-block" id="two-pm">   <div class=""></div></div>
    <div class="hour-block" id="three-pm"> <div class=""></div></div>
    <div class="hour-block" id="four-pm">  <div class="highlight"></div></div>
    <div class="hour-block" id="five-pm">  <div class="highlight"></div></div>
    <div class="hour-block" id="six-pm">   <div class="highlight"></div></div>
    <div class="hour-block" id="seven-pm"> <div class="highlight"></div></div>
    <div class="hour-block" id="eight-pm"> <div class="highlight"></div></div>
    <div class="hour-block" id="nine-pm">  <div class="highlight"></div></div>
    <div class="hour-block" id="ten-pm">   <div class="highlight"></div></div>
    <div class="hour-block" id="eleven-pm"><div class="highlight"></div></div>
  </div>

</div>