<%= form_with(model: villager_personality, local: true) do |form| %>
  <% if villager_personality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(villager_personality.errors.count, "error") %> prohibited this villager_personality from being saved:</h2>

      <ul>
        <% villager_personality.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
