<h1>Editing Villager Personality</h1>

<%= render 'form', villager_personality: @villager_personality %>

<%= link_to 'Show', @villager_personality %> |
<%= link_to 'Back', villager_personalities_path %>
