<p id="notice"><%= notice %></p>

<p>
  <strong>Milestone:</strong>
  <%= @milestone_value.milestone_id %>
</p>

<%= link_to 'Edit', edit_milestone_value_path(@milestone_value) %> |
<%= link_to 'Back', milestone_values_path %>
