<%= form_with(model: reward_title, local: true) do |form| %>
  <% if reward_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reward_title.errors.count, "error") %> prohibited this reward_title from being saved:</h2>

      <ul>
        <% reward_title.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
