<%= form_with(model: bug_location, local: true) do |form| %>
  <% if bug_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug_location.errors.count, "error") %> prohibited this bug_location from being saved:</h2>

      <ul>
        <% bug_location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label form.object.name %>
  </div>

<% end %>
