<h1>Editing Reward Title Position</h1>

<%= render 'form', reward_title_position: @reward_title_position %>

<%= link_to 'Show', @reward_title_position %> |
<%= link_to 'Back', reward_title_positions_path %>
