<h1>Editing Collectible Attribute Type</h1>

<%= render 'form', collectible_attribute_type: @collectible_attribute_type %>

<%= link_to 'Show', @collectible_attribute_type %> |
<%= link_to 'Back', collectible_attribute_types_path %>
