<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collectible_attribute_type.name %>
</p>

<%= link_to 'Edit', edit_collectible_attribute_type_path(@collectible_attribute_type) %> |
<%= link_to 'Back', collectible_attribute_types_path %>
