<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @passport_title.value %>
</p>

<%= link_to 'Edit', edit_passport_title_path(@passport_title) %> |
<%= link_to 'Back', passport_titles_path %>
