<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fishing_spot.name %>
</p>

<%= link_to 'Edit', edit_fishing_spot_path(@fishing_spot) %> |
<%= link_to 'Back', fishing_spots_path %>
