<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Animal Crossing Tracker</title>

	<link rel="stylesheet" href="https://use.typekit.net/kyh4nqi.css">
	<link href="styles.css" rel="stylesheet">
</head>

<body>
	
	<header>
		<nav>
			<ul class="main-menu">
				<li class="menu"><a href="">My Island</a></li>
				<li class="logo"><a href=""><img src="img/logo.png"></a></li>
				<li onclick="navDropdown()" class="menu dropdown">Collections</li>
			</ul>
			<ul class="submenu" id="collections-submenu">
				<p><a href="">Collections</a></p>
				<li><a href="">
					<span>Badges</span>
					<img src="img/icon-net.png">
				</a></li>
				<li><a href="">
					<span>Gyroids</span>
					<img src="img/icon-net.png">
				</a></li>
				<li><a href="">
					<span>Bugs</span>
					<img src="img/icon-net.png">
				</a></li>
				<li><a href="">
					<span>Fish</span>
					<img src="img/icon-net.png">
				</a></li>
				<li><a href="">
					<span>Diving</span>
					<img src="img/icon-net.png">
				</a></li>
				<li><a href="">
					<span>K.K. Corner</span>
					<img src="img/icon-net.png">
				</a></li>
				<li><a href="">
					<span>Crazy Redd</span>
					<img src="img/icon-net.png">
				</a></li>
				<li><a href="">
					<span>Fossils</span>
					<img src="img/icon-net.png">
				</a></li>
			</ul>
		</nav>
	</header>

	<script src="scripts.js" type="text/javascript"></script>

</body>
</html>