<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Animal Crossing Tracker | Tracking my progress through Animal Crossing: New Horizons</title>
	<meta name="description" content="Animal Crossing Tracker">
	<meta name="author" content="Anna Baker Design">
	<link rel="stylesheet" href="https://use.typekit.net/kyh4nqi.css">

	<style>

		/* CSS RESET */
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

		/* Custom CSS */
		html, body, button, input, select, optgroup, textarea {
			font-family: ff-ernestine-pro, serif;
			font-weight: 700;
			font-style: normal;
			font-size: 25px;
			color: #7B6C53;
		}

		body {
			margin: 0;
			padding: 50px 200px 0;
			display: grid;
			height: 100vh;
			box-sizing: border-box;
			text-align: center;
			background-image: asset-data-url('pattern-leaves-white.jpg');
			background-repeat: repeat;
			background-color: #FFFFFF;
		}

		a, a:visited { color: #7B6C53; transition: all ease-in-out 0.15s; }
		a:hover, a:focus { color: #7CC9C3; transition: all ease-in-out 0.15s; }

		h1 {
			font-size: 2rem;
			line-height: 1.5em;
		}

		header img { height: 200px; }

		#countup {
			display: grid;
			grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
			font-size: 4rem;
		}

		#countup p { font-size: 2rem; }

		#countup p.divider {
			font-size: 4rem;
			color: #7CC9C3;
			padding-top: 50px;
		}

		#countup-days, #countup-hours,
		#countup-minutes, #countup-seconds {
			padding-top: 50px;
		}

		#countup-days span, #countup-hours span,
		#countup-minutes span, #countup-seconds span {
			padding: 50px;
			background-image: asset-data-url('square-bg-blue.svg');
			background-size: 100% 100%;
			background-blend-mode: multiply;
			color: #FFFFFF;
		}

		#countup-days p, #countup-hours p,
		#countup-minutes p, #countup-seconds p {
			margin-top: 50px;
		}

		footer { padding-top: 50px; }

		/* RESPONSIVE */
		@media (max-width: 1440px) {
			html, body, button, input, select, optgroup, textarea { font-size: 20px; }
		}

		@media (max-width: 1024px) {
			html, body, button, input, select, optgroup, textarea { font-size: 15px; }
			body { padding: 50px 100px 0; }
		}
	
	</style>

</head>

<body>

	<header>
		<%= image_tag "logo.png" %>
	</header>

	<h1>Time since I started playing Animal Crossing: New Horizons and stopped working on this tracker:</h1>
	<div id="countup">
		<div id="countup-days"></div>
		<p class="divider">:</p>
		<div id="countup-hours"></div>
		<p class="divider">:</p>
		<div id="countup-minutes"></div>
		<p class="divider">:</p>
		<div id="countup-seconds"></div>
	</div>

	<footer>
		<p id="copyright">&copy;2020 <a href="https://annabaker.design/" target="_blank">Anna Baker Design</a>.</p>
	</footer>

	<script>
		var countUpDate = new Date("Mar 20, 2020 00:00:00").getTime();
		
		var x = setInterval(function() {
		
			var now = new Date().getTime();
		
			var distance = now - countUpDate;
		
			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			if(days < 10) { days = "0" + days; }
			if(hours < 10) { hours = "0" + hours; }
			if(minutes < 10) { minutes = "0" + minutes; }
			if(seconds < 10) { seconds = "0" + seconds; }

			document.getElementById("countup-days").innerHTML = "<span>" + days + 
				"</span>" + "<p>Days</p>";
			document.getElementById("countup-hours").innerHTML = "<span>" + hours + 
				"</span>" + "<p>Hours</p>";
			document.getElementById("countup-minutes").innerHTML = "<span>" + minutes + 
				"</span>" + "<p>Minutes</p>";
			document.getElementById("countup-seconds").innerHTML = "<span>" + seconds + 
				"</span>" + "<p>Seconds</p>";
		
			if (distance < 0) {
				clearInterval(x);
				document.getElementById("countup").innerHTML = "EXPIRED";
			}
		}, 1000);
	</script>
		
</body>
</html>