<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Animal Crossing Tracker | Tracking my progress through Animal Crossing: New Horizons</title>
	<meta name="description" content="Animal Crossing Tracker">
	<meta name="author" content="Anna Baker Design">
	<link rel="stylesheet" href="https://use.typekit.net/kyh4nqi.css">
</head>

<body>

<div class="speech-bubble">
	<div class="speaker">Timmy</div>
	<p>Hello islander! If this is your first time here, we'll need to <span>check you in</span>. If your an island veteran click the <span>Login</span> in the navigation.</p>
</div>
		
</body>
</html>