<h1>Editing Collectible Attribute</h1>

<%= render 'form', collectible_attribute: @collectible_attribute %>

<%= link_to 'Show', @collectible_attribute %> |
<%= link_to 'Back', collectible_attributes_path %>
