<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @collectible.collection_id %>
</p>

<%= link_to 'Edit', edit_collectible_path(@collectible) %> |
<%= link_to 'Back', collectibles_path %>
