<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @personality_type.value %>
</p>

<%= link_to 'Edit', edit_personality_type_path(@personality_type) %> |
<%= link_to 'Back', personality_types_path %>
