<p id="notice"><%= notice %></p>

<p>
  <strong>Fishsize:</strong>
  <%= @shadow_size.fishsize_id %>
</p>

<%= link_to 'Edit', edit_shadow_size_path(@shadow_size) %> |
<%= link_to 'Back', shadow_sizes_path %>
