<h1>Editing Collectible Attribute List Item</h1>

<%= render 'form', collectible_attribute_list_item: @collectible_attribute_list_item %>

<%= link_to 'Show', @collectible_attribute_list_item %> |
<%= link_to 'Back', collectible_attribute_list_items_path %>
