<%= form_with(model: fishing_location, local: true) do |form| %>
  <% if fishing_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fishing_location.errors.count, "error") %> prohibited this fishing_location from being saved:</h2>

      <ul>
        <% fishing_location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.object.fishing_spots.each do |spot| %>
      <%= spot.name %>
    <% end %>
  </div>

<% end %>