<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fishing_location.name %>
</p>

<%= link_to 'Edit', edit_fishing_location_path(@fishing_location) %> |
<%= link_to 'Back', fishing_locations_path %>
