<h1>Editing String Collectible Attribute</h1>

<%= render 'form', string_collectible_attribute: @string_collectible_attribute %>

<%= link_to 'Show', @string_collectible_attribute %> |
<%= link_to 'Back', string_collectible_attributes_path %>
