<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @string_collectible_attribute.value %>
</p>

<%= link_to 'Edit', edit_string_collectible_attribute_path(@string_collectible_attribute) %> |
<%= link_to 'Back', string_collectible_attributes_path %>
