// Place all the styles related to the Collectibles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.modal {
	text-align: center;
	margin: 0 auto;
	padding: 100px 200px;
	background-image: asset-data-url('square-bg-cream.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(0 10px 10px rgba(0,0,0,0.10));
	max-width: 800px;
}

div.modal .modal-close {
	float: right;
	margin-top: 30px;
	opacity: 0.5;
}

div.modal .modal-close:hover,
div.modal .modal-close:focus {
	opacity: 1;
	transition: all ease-in-out 0.3s;
}

div.modal input[type="checkbox"],
div.modal input[type="checkbox"]:checked {
	visibility: hidden;
	position: absolute;
}

div.modal input[type="checkbox"]:checked:before {
	visibility: visible;
	content: asset-data-url('checkmark.svg');
	position: absolute;
	width: 60px;
	top: -10px;
	right: -15px;
}

div.collectible-data {
	display: grid;
	grid-template-columns: 1fr 3fr;
	row-gap: 30px;
	text-align: left;
}

div.collectible-edit {
	margin-top: 50px;
	text-align: right;
	font-size: 0.5rem;
}

div.time-of-year td {
	padding: 10px 20px;
	border: 2px solid #D6C8AB;
	color: #D6C8AB;
}

div.time-of-year td.highlight {
	background-image: asset-data-url('square-bg-yellow.svg');
	background-size: 90% 80%;
	background-position: center;
	background-repeat: no-repeat;
	color: #7B6C53;
}

div.time-of-day div.active-hours {
	display: grid;
	grid-template-columns: repeat(24,1fr);
	border-bottom: 2px solid #7B6C53;
	padding-top: 30px;
}

div.time-of-day div.active-hours div.hour-block {
	height: 1rem;
	position: relative;
}

div.time-of-day div.active-hours div.hour-block:before {
	content: "";
	height: 30%;
	display: block;
	position: relative;
	top: 50%;
	border-left: 2px solid #7B6C53;
}

div.time-of-day div.active-hours div.hour-block:nth-child(1):before {
	content: "12 AM";
	font-size: 0.6rem;
	border-left: none;
	top: -1.25rem;
	left: -0.5rem;
	height: auto;
	text-align: center;
}

div.time-of-day div.active-hours div.hour-block:nth-child(7):before {
	content: "6 AM";
	font-size: 0.6rem;
	border-left: none;
	top: -1.25rem;
	left: -0.5rem;
	height: auto;
	text-align: center;
}

div.time-of-day div.active-hours div.hour-block:nth-child(13):before {
	content: "12 PM";
	font-size: 0.6rem;
	border-left: none;
	top: -1.25rem;
	left: -0.5rem;
	height: auto;
	text-align: center;
}

div.time-of-day div.active-hours div.hour-block:nth-child(19):before {
	content: "6 PM";
	font-size: 0.6rem;
	border-left: none;
	top: -1.25rem;
	left: -0.5rem;
	height: auto;
	text-align: center;
}

div.time-of-day div.active-hours div.hour-block:nth-child(4):before,
div.time-of-day div.active-hours div.hour-block:nth-child(10):before,
div.time-of-day div.active-hours div.hour-block:nth-child(16):before,
div.time-of-day div.active-hours div.hour-block:nth-child(22):before {
	height: 60%;
	top: 30%;
}

div.time-of-day div.active-hours div.hour-block:nth-child(1),
div.time-of-day div.active-hours div.hour-block:nth-child(7),
div.time-of-day div.active-hours div.hour-block:nth-child(13),
div.time-of-day div.active-hours div.hour-block:nth-child(19) {
	border-left: 2px solid #7B6C53;
}

div.time-of-day div.active-hours div.hour-block:last-child {
	border-right: 2px solid #7B6C53;
}

div.time-of-day div.active-hours div.hour-block div.highlight {
	position: absolute;
	z-index: -2;
	top: 27%;
	height: 60%;
	width: 100%;
	background-color: #F1E26F;
}