// Place all the styles related to the IslandCollections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section.title { text-align: center; }

section.title h1 {
	display: inline-block;
	margin-right: 30px;
}

section.title p.collection-count {
	display: inline-block;
	padding: 20px 30px;
	position: relative;
	top: -15px;
	background-image: asset-data-url('square-bg-brown.svg');
	background-size: 100%;
	background-position: center;
	color: #FFF9E5;
}

section.title p.collection-count span { color: #FFF9E5; }

section.collection-items {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	text-align: center;
	padding: 50px 200px 0;
}

section.collection-items div {
	justify-self: center;
	align-self: center;
	position: relative;
}

section.collection-items div img {
	background-image: asset-data-url('square-bg-ltblue.svg');
	background-size: 100%;
	background-position: center;
	padding: 30px;
	height: 64px;
	width: 64px;
}

section.collection-items div input[type="checkbox"],
section.collection-items div input[type="checkbox"]:checked {
	visibility: hidden;
	position: absolute;
}

section.collection-items div input[type="checkbox"]:checked:before {
	visibility: visible;
	content: asset-data-url('stamp.svg');
	position: absolute;
	width: 40px;
	top: -11px;
	right: 3px;
	transform: rotate(-15deg);
}

section.collection-items div p { padding: 10px 0 60px; }

@media (max-width: 1024px) {

	section.collection-items {
		grid-template-columns: repeat(4, 1fr);
		padding: 50px 100px 0;
	}

}

@media (max-width: 768px) {

	section.collection-items {
		grid-template-columns: repeat(3, 1fr);
		padding: 50px 50px 0;
	}

}

@media (max-width: 425px) {

	section.collection-items {
		padding: 50px 0 0;
		margin: 0 auto;
	}

	section.collection-items div p {
		padding: 10px 0 20px;
	}

	section.collection-items div img {
		padding: 15px;
		height: 70px;
		width: 70px;
	}

}