// Place all the styles related to the IslandCollections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section.island-collections {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 0 200px;
}

.island-collection-item {
	align-self: center;
	justify-self: center;
	text-align: center;
	padding: 50px;
}

.island-collection-item  p {
	margin-bottom: 20px;
}

.island-collection-item a.btn {
	background-image: asset-data-url('square-bg-brown.svg');
	color: #FFF9E5;
	padding: 4px 10px;
	font-size: 0.6rem;
}

section.heading {
	margin: 50px 200px;
}

div.title {
	text-align: center;
	margin-bottom: 20px;
}

div.title h1 {
	display: inline-block;
	margin-right: 30px;
}

div.title p.collection-count {
	display: inline-block;
	padding: 20px 30px;
	position: relative;
	top: -15px;
	background-image: asset-data-url('square-bg-brown.svg');
	background-size: 100%;
	background-position: center;
	color: #FFF9E5;
}

div.title p.collection-count span { color: #FFF9E5; }

div.sort {
	text-align: center;
	align-self: center;
}

div.sort div {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}

div.sort div:after {
	content: asset-data-url('arrow.svg');
	display: inline-block;
	position: absolute;
	height: 0.75rem;
	width: 0.75rem;
	right: 1.25rem;
	top: 0.5rem;
	transform: rotate(-90deg);
	opacity: 0.5;
}

div.sort div.filter-checkbox:after,
div.sort div.filter-multi-select:after { content: ''; }

div.sort div.filter-muti-select,
div.sort div.filter-checkbox {
	margin: 0 50px;
}

div.sort select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'houschka-rounded';
	font-size: 1rem;
	color: #7B6C53;
	background-color: #D7ECDD;
	margin: 0 20px;
	padding: 5px 30px 5px 20px;
	border: none;
	border-bottom: 3px solid #7B6C53;
	height: 1.75rem;
	cursor: pointer;
}

div.sort .filter-multi-select select {
	margin: 0;
	padding: 5px 20px;
}

div.sort select:focus { outline: 0; }

div.sort input[type=checkbox]:not(:checked),
div.sort input[type=checkbox]:checked {
	position: absolute;
	left: -9999px;
}

div.sort input[type=checkbox]:not(:checked) + label,
div.sort input[type=checkbox]:checked + label {
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
	text-transform: capitalize;
}

div.sort input[type=checkbox]:not(:checked) + label:before,
div.sort input[type=checkbox]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0.1rem;
	width: 1rem;
	height: 1rem;
	border: 2px solid #7B6C53;
	background: #D7ECDD;
}

div.sort input[type="checkbox"]:not(:checked) + label:after,
div.sort input[type="checkbox"]:checked + label:after {
	content: asset-data-url('check.svg');
	position: absolute;
	top: -0.05rem;
	left: 0.15rem;
	width: 1.25rem;
}

div.sort input[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}

div.sort input[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

div.sort a {
	background-image: asset-data-url('square-bg-orange.svg');
	padding: 10px 30px;
	color: #FFF9E5;
	font-size: 0.75rem;
}

section.collection-items {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	text-align: center;
	padding: 50px 200px 0;
}

section.collection-items>div {
	justify-self: center;
	align-self: start;
	position: relative;
	padding-bottom: 50px;
}

section.collection-items div.collectible { padding-bottom: 10px; }

section.collection-items div img {
	background-image: asset-data-url('square-bg-ltblue.svg');
	background-size: 100%;
	background-position: center;
	padding: 30px;
	height: 64px;
	width: 64px;
}

section.collection-items div input[type="checkbox"],
section.collection-items div input[type="checkbox"]:checked {
	visibility: hidden;
	position: absolute;
}

section.collection-items div input[type="checkbox"]:checked:before {
	visibility: visible;
	content: asset-data-url('stamp.svg');
	position: absolute;
	width: 40px;
	top: -11px;
	right: 3px;
	transform: rotate(-15deg);
}

section.collection-items div a {
	padding: 10px 0 60px;
	cursor: pointer;
}