// Place all the styles related to the IslandCollections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section.heading {
	margin: 50px 300px;
	display: grid;
	grid-template-columns: 2fr 3fr;
}

div.title { align-self: center; }

div.title h1 {
	display: inline-block;
	margin-right: 30px;
}

div.title p.collection-count {
	display: inline-block;
	padding: 20px 30px;
	position: relative;
	top: -15px;
	background-image: asset-data-url('square-bg-brown.svg');
	background-size: 100%;
	background-position: center;
	color: #FFF9E5;
}

div.title p.collection-count span { color: #FFF9E5; }

div.sort {
	text-align: right;
	align-self: center;
}

div.sort div {
	display: inline-block;
	position: relative;
}

div.sort div:after {
	content: asset-data-url('arrow.svg');
	display: inline-block;
	position: absolute;
	height: 0.75rem;
	width: 0.75rem;
	right: 1.25rem;
	top: 0.5rem;
	transform: rotate(-90deg);
	opacity: 0.5;
}

div.sort select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'houschka-rounded';
	font-size: 1rem;
	color: #7B6C53;
	background-color: #D7ECDD;
	margin: 0 20px;
	padding: 5px 30px 5px 20px;
	border: none;
	border-bottom: 3px solid #7B6C53;
}

div.sort select:focus { outline: 0; }

div.sort select option {
	background-color: #FFFFFF;
}

div.sort a {
	background-image: asset-data-url('square-bg-brown.svg');
	padding: 10px 30px;
	color: #FFF9E5;
}

section.collection-items {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	text-align: center;
	padding: 50px 200px 0;
}

section.collection-items>div {
	justify-self: center;
	align-self: start;
	position: relative;
	padding-bottom: 50px;
}

section.collection-items div.collectible { padding-bottom: 10px; }

section.collection-items div img {
	background-image: asset-data-url('square-bg-ltblue.svg');
	background-size: 100%;
	background-position: center;
	padding: 30px;
	height: 64px;
	width: 64px;
}

section.collection-items div input[type="checkbox"],
section.collection-items div input[type="checkbox"]:checked {
	visibility: hidden;
	position: absolute;
}

section.collection-items div input[type="checkbox"]:checked:before {
	visibility: visible;
	content: asset-data-url('stamp.svg');
	position: absolute;
	width: 40px;
	top: -11px;
	right: 3px;
	transform: rotate(-15deg);
}

section.collection-items div p { padding: 10px 0 60px; }

@media (max-width: 1024px) {

	section.collection-items {
		grid-template-columns: repeat(4, 1fr);
		padding: 50px 100px 0;
	}

}

@media (max-width: 768px) {

	section.collection-items {
		grid-template-columns: repeat(3, 1fr);
		padding: 50px 50px 0;
	}

}

@media (max-width: 425px) {

	section.collection-items {
		padding: 50px 0 0;
		margin: 0 auto;
	}

	section.collection-items div p {
		padding: 10px 0 20px;
	}

	section.collection-items div img {
		padding: 15px;
		height: 70px;
		width: 70px;
	}

}