/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0;font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }







/*****************
STYLES
*****************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font-family: houschka-rounded, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 25px;
	color: #7B6C53;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 2rem;
	color: #7B6C53;
	text-align: center;
}

body {
	background-image: asset-data-url('pattern-leaves-white.jpg');
	background-repeat: repeat;
}

a, a:visited, a:focus, a:hover {
	text-decoration: none;
	color: #7B6C53;
}

header {
	display: grid;
	padding-bottom: 50px;
	margin-bottom: 100px;
}

header nav {
	align-self: center;
	justify-self: center;
}

header nav ul.main-menu {
	background-color: #7CC9C3;
	background-image: asset-data-url('pattern-dots.png');
	background-repeat: repeat;
	position: relative;
	height: 80px;
	top: 40px;
	padding: 0 50px;
	border-radius: 3px;
}

header nav ul.main-menu:before {
	content: "";
	background-image: asset-data-url('ribbon-left-blue.svg');
	background-repeat: no-repeat;
	position: absolute;
	height: 67px;
	width: 73px;
	top: 31px;
	left: -26px;
	z-index: -1;
}

header nav ul.main-menu:after {
	content: "";
	background-image: asset-data-url('ribbon-left-blue.svg');
	background-repeat: no-repeat;
	position: absolute;
	height: 67px;
	width: 73px;
	top: 31px;
	right: -26px;
	transform: scalex(-1);
	z-index: -1;
}

header nav ul.main-menu li {
	display: inline-block;
	position: relative;
	top: -72px;
}

header nav ul.main-menu li.menu { padding: 10px 30px; }

header nav ul.main-menu li.menu,
header nav ul.main-menu li.menu a,
header nav ul.main-menu li.menu a:visited { color: #FFF9E5; }

header nav ul.main-menu li.menu:hover,
header nav ul.main-menu li.menu:focus {
	background-image: asset-data-url('square-bg-cream.svg');
	background-size: 100% 100%;
	background-position: center;
}

header nav ul.main-menu li.menu:hover,
header nav ul.main-menu li.menu:focus,
header nav ul.main-menu li.menu:hover a,
header nav ul.main-menu li.menu:focus a {
	color: #7B6C53;
}

header nav ul.main-menu li.logo {
	top: -25px;
	margin: 0 30px;
}

header nav ul.main-menu li.logo a { position: relative; }

header nav ul.main-menu li.logo a:after {
	content: 'Tracker';
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: #7B6C53;
	position: absolute;
	width: 100%;
	top: 35px;
	left: 0;
}

header nav ul.main-menu li.logo img { height: 120px; }

header nav ul.main-menu li.login input {
	border: none;
	background: none;
	font-family: houschka-rounded, sans-serif;
	color: #7B6C53;
	font-size: 1rem;
	background-image: asset-data-url('square-bg-cream.svg');
	padding: 5px 30px;
	margin-left: 30px;
}

footer {
	margin: 50px 200px;
	text-align: center;
	font-size: 0.75rem;
}

footer, footer p, footer a { font-size: 0.6rem; }

footer a, footer a:hover, footer a:focus { text-decoration: underline; }

footer a:hover, footer a:focus { color: #EF8341; }

/* RESPONSIVE BREAK POINTS
2560	1440	960		720		375
1920	1365	835		600		360
1600	1280	800		500		320
1535	1025	770		415	
*/

@media (max-width:2560px) {}

@media (max-width:1920px) {}

@media (max-width:1600px) {}

@media (max-width:1535px) {}

@media (max-width:1440px) {}

@media (max-width:1365px) {}

@media (max-width:1280px) {}

@media (max-width:1025px) {}

@media (max-width:960px) {
	
}

@media (max-width:835px) {}

@media (max-width:800px) {}

@media (max-width:770px) {}

@media (max-width:720px) {}

@media (max-width:600px) {}

@media (max-width:500px) {}

@media (max-width:415px) {}

@media (max-width:375px) {}

@media (max-width:360px) {}

@media (max-width:320px) {}