<%= form_with(model: time_of_year, local: true) do |form| %>
  <% if time_of_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_of_year.errors.count, "error") %> prohibited this time_of_year from being saved:</h2>

      <ul>
        <% time_of_year.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.object.months.each do |month| %>
      <%= month.name %>
    <% end %>
  </div>
<% end %>