<h1>Editing Number Collectible Attribute</h1>

<%= render 'form', number_collectible_attribute: @number_collectible_attribute %>

<%= link_to 'Show', @number_collectible_attribute %> |
<%= link_to 'Back', number_collectible_attributes_path %>
