<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @number_collectible_attribute.value %>
</p>

<%= link_to 'Edit', edit_number_collectible_attribute_path(@number_collectible_attribute) %> |
<%= link_to 'Back', number_collectible_attributes_path %>
